<div class="container" style="padding:0 10px 0 10px">
    <div class="timeline">
        <div class="custom"></div>
        <div class="icon">
            <span><mat-icon>brush</mat-icon></span>
        </div>
        <div class="info">
            <h2>PR-responsible of CadCompetition Project</h2>
            <h3>BEST AGH Kraków Student Association</h3>
            <p> •	Coming up with a marketing strategy <br>
                •	Designing a graphic motif and creating promotional materials<br>
                •	Contacting with media, presenting terms of the potential partnership and convincing them to take part as media patron<br>
                </p>
        </div>
    </div>
    <div class="timeline box-right">
        <div class="custom"></div>
        <div class="icon">
            <span><mat-icon>computer</mat-icon></span>
        </div>
        <div class="info">
            <h2>Junior Application Developer</h2>
            <h3>State Street Corporation</h3>
            <p>
                •	Building independently end -to-end macro applications: 
<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	Providing Business Analysis of applications requirements
<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	Creating source code in VB.Net 
<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	Testing
<br>•	Enhancement of existing macro applications in VBA (adding functionalities, error handling, testing)

                </p>
            </div>
    </div>
    <div class="timeline">
        <div class="custom"></div>
        <div class="icon">
            <span><mat-icon>computer</mat-icon></span>
        </div>
        <div class="info">
            <h2>Front-end Developer</h2>
            <h3>Comarch SA</h3>
            <p>
                •	Building web applications: web store with management panel and printing invoices app and - both in Angular (version 10 and 11)
<br>•	Maintaining existing AngularJS application 
<br>•	Tool researching and implementation according to project requirements
<br>•	Working with Bootstrap, Material and Internal Component Library.
<br>•	Collaborating with UX/UI team.

                </p> </div>
    </div>
    <div class="timeline box-right">
        <div class="custom"></div>
        <div class="icon">
            <span><mat-icon>computer</mat-icon></span>
        </div>
        <div class="info">
            <h2>Front-end Developer</h2>
            <h3>KPMG Poland</h3>
            <p>
                •	Developing new features and bug fixing on multiple frontend applications (Angular ver14+)
<br>•	Working with Kendo, Material and Internal Component Library
<br>•	Collaborating with UX/UI team.

                </p>
            </div>
    </div>
</div>