<mat-icon class="my-icons" routerLink='../main-page'>keyboard_backspace</mat-icon>
<div style="height: 85%; width: 100%; display: flex; justify-content: center; align-items: center;">
    <div>
        <div class="screen-frame">
            <div class="screen">
               <app-project-cards></app-project-cards>
            </div>
        </div>
        <div class="laptop-base">
            <div class="keyboard"></div>
        </div>
        <div class="laptop-front">
        </div>
    </div>
</div>
<p style="padding-top: 2%; padding-left: 2%; font-size: medium">The above laptop is not an image. It is a html element created entirely by me.  You can check it here: <a href="https://codepen.io/Joasia662/pen/NWZxRmJ">https://codepen.io/Joasia662/pen/NWZxRmJ</a></p>
