
<div style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;"class="full-screen">
    <div style="height: 100%; width: 60%;"class="img">
        <div class="my-icons">
            <mat-icon routerLink='main-page'>keyboard_backspace</mat-icon>
        </div>
      
        <div style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;">
            <img src="../assets/Weather Forecast.png"  alt="">
        </div>
        
    </div>
    <div class="project-desc" style="height: 100%; width: 40%; " class="my-side-nav">
        <div style="margin: 10% 8% 5% 20%">
            <div style="font-size: 40px; margin-bottom: 5%;">Weather-Forecast</div>
            <div>A Single Page Application that display a 5-day forecast for a city by name. It is based on API: <a href="https://openweathermap.org/forecast5">https://openweathermap.org/forecast5</a></div>
            <br><br><br>
            <div>Repository Link</div>
            <a href = "https://github.com/Joasia662/Weather-Forecast">https://github.com/Joasia662/Weather-Forecast</a>
            <br><br><br><br>
            <div>Technology</div>
            <br>
            <div style="display: flex; justify-content:space-around; width: 100%;"> 
                <img class="tech" width="100" src="../assets/angular.png"  matTooltip="This application was implemented using Angular version 16.2.1.">
                <img class="tech"width="100" src="../assets/material.png"  matTooltip="This application use Angular Material components.
                Learn more on https://material.angular.io/">
                <img class="tech" width="100" src="../assets/ngrx.svg"  matTooltip="NgRx State Managment was used in this application.
                
                Learn more on https://ngrx.io/">
                <img class="tech" width="100" src="../assets/jasmine.svg" matTooltip="This application has implemented tests using Jasmine.
                 
                Learn more on https://jasmine.github.io/ ">
            </div>
            
        </div>
      
    </div>
</div>


