<span style="overflow: auto; " class="my-background">
    <div class="my-icons">
        <mat-icon routerLink='../main-page'>keyboard_backspace</mat-icon>
    </div>

    <div
        style="height: 78%; width: 90%; padding-left: 100px; padding-bottom: 100px; overflow-y: scroll; overflow-x: hidden;">
        <div style="width: 100%; display: flex; justify-content: start; align-items: center;  padding-left: 10%">
            <span class="title">Cad Competition</span>
        </div>
        <div style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;">
            <div style="width: 80%; height: 85%; margin: 0 auto; padding-bottom: 7%;">
                <app-slider [slides]="slidesCadCompetition"></app-slider>
            </div>
        </div>


        <div style="width: 100%; display: flex; justify-content: start; align-items: center;  padding-left: 10%">
            <span class="title">Recipe Book</span>
        </div>
        <div style="width: 100%; display: flex; justify-content: start; align-items: center;  padding-left: 10%">
            <span class="sub-title">You can find implementation of this project <a href="https://github.com/Joasia662/Recipes-Menager"> here </a></span>
        </div>
        <div style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;">
            <div style="width: 80%; height: 85%; margin: 0 auto; padding-bottom: 7%;">
                <app-slider [slides]="slideRecepie"></app-slider>
            </div>
        </div>



        <div style="width: 100%; display: flex; justify-content: start; align-items: center;  padding-left: 10%">
            <span class="title">App idea that I'm currently working</span>
        </div>
        <div style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;">
            <div style="width: 80%; height: 85%; margin: 0 auto; padding-bottom: 7%;">
                <app-slider [slides]="slides"></app-slider>
            </div>
        </div>

    </div>


</span>