

.mat-icon {
  font-size: 80px;
  height: 80px;
  width: 80px;
  cursor: pointer;
  color: #1D7373;
}

.my-icons {
  padding: 1% 0 0 1%;
}

.title {
  color: #1D7373;
  font-weight: bold;
  font-size: 35px;
  padding-top: 2%;
  padding-bottom: 1%;
}

.sub-title{
  color: #1D7373;
  font-weight:500;
  font-size: 20px;
  padding-bottom: 1%;
}

.my-background {
  background: #042326;
  display: block;
  height: 100%;


}