.my-side-nav {
  font-size: 25px;
  color: white !important;
  background-color: #38C6C8;
  box-shadow: 100px 0px 60px 0px #FAE5C8 inset;
}

.mat-icon {
  font-size: 80px;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.my-icons {
  padding: 1% 0 0 1%;
}

.title {
  color: #38C6C8;
  font-weight: bold;
  font-size: 30px;
  padding-top: 0.2%;
  padding-bottom: 3%;
}


.my-background {
  background: rgb(56, 198, 200);
  background: linear-gradient(0deg, rgba(56, 198, 200, 1) 0%, rgba(250, 229, 200, 1) 20%);
  display: block;
  height: 100%;


}